In [2]:
import pandas as pd
gender = pd.read_csv('gender.csv')
df = pd.read_csv('hot100_cleaned.csv')

/var/folders/lk/c66jcxc517j4m73kkh93rvwr0000gn/T/ipykernel_51687/4015419353.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  gender = pd.read_csv('gender.csv')

In [16]:
df_dict = df.to_dict('records')
gender_dict = gender.to_dict('index')

In [17]:
len_df = len(df_dict)
print(len_df)

30017

In [21]:
gender

,chartmetric_id,name,artist_country,pronoun,gender,is_band,genre
0,1,Various Artists,GB,they/them,mixed,True,"{Soundtrack,Pop,""Praise & Worship"",Classical,P..."
1,2,Massive Attack,GB,they/them,NaN,True,"{Jazz,Electronic,electronica,Rock,""big beat"",i..."
2,3,Squirrel Nut Zippers,US,they/them,NaN,True,"{""north carolina roots"",Alternative,Rock,Jazz,..."
3,4,Bob Dylan,US,he/him,male,False,"{""classic rock"",""country rock"",Rock,Singer/Son..."
4,5,10cc,GB,they/them,NaN,True,"{Pop/Rock,singer-songwriter,insights_high_prio..."
...,...,...,...,...,...,...,...
687137,9575811,Zero Dark,US,they/them,male,True,{NULL}
687138,9580415,Phil Walker,NaN,he/him,male,False,{NULL}
687139,9593090,Blexon,NaN,he/him,male,False,{NULL}
687140,9607375,Darren Kiely,NaN,he/him,male,False,{NULL}
687141,9623804,Erika Edgar,NaN,she/her,female,False,{NULL}

In [29]:
gender['name'] =gender['name'].str.lower()
df['artist'] =df['artist'].str.lower()
gender.drop_duplicates(subset=['name'],inplace=True)
gender

,chartmetric_id,name,artist_country,pronoun,gender,is_band,genre
0,1,various artists,GB,they/them,mixed,True,"{Soundtrack,Pop,""Praise & Worship"",Classical,P..."
1,2,massive attack,GB,they/them,NaN,True,"{Jazz,Electronic,electronica,Rock,""big beat"",i..."
2,3,squirrel nut zippers,US,they/them,NaN,True,"{""north carolina roots"",Alternative,Rock,Jazz,..."
3,4,bob dylan,US,he/him,male,False,"{""classic rock"",""country rock"",Rock,Singer/Son..."
4,5,10cc,GB,they/them,NaN,True,"{Pop/Rock,singer-songwriter,insights_high_prio..."
...,...,...,...,...,...,...,...
687137,9575811,zero dark,US,they/them,male,True,{NULL}
687138,9580415,phil walker,NaN,he/him,male,False,{NULL}
687139,9593090,blexon,NaN,he/him,male,False,{NULL}
687140,9607375,darren kiely,NaN,he/him,male,False,{NULL}
687141,9623804,erika edgar,NaN,she/her,female,False,{NULL}

In [32]:
df = df.merge(gender, left_on='artist', right_on='name', how='left')

In [36]:
df[['pronoun','gender']].count()

pronoun    22544
gender      7533
dtype: int64

In [37]:
df['pronoun'].isnan().count()

AttributeError: 'Series' object has no attribute 'isnan'

In [41]:
df['pronoun'].isna().sum()
df['gender'].isna().sum()

22484

In [57]:
df[['pronoun','gender']].value_counts()

pronoun            gender
he/him             male                 3585
they/them          male                 1845
she/her            female               1399
they/them          mixed                 501
                   female                127
they/them/she/her  non-binary             23
she/her            genderfluid            22
they/them          non-binary             12
she/they           female                 10
                   genderqueer             4
she/her            androgynous             3
                   transgender woman       1
she/they           non-binary              1
dtype: int64

In [58]:
df

,title,artist,year,chartmetric_id,name,artist_country,pronoun,gender,is_band,genre
0,A Big Hunk O' Love,elvis presley with the jordanaires,1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Come Softly To Me,the fleetwoods,1959,474138.0,the fleetwoods,US,they/them,NaN,True,"{""vocal harmony group"",R&B/Soul,Pop,""Doo Wop"",..."
2,Heartaches By The Number,guy mitchell,1959,103404.0,guy mitchell,US,he/him,NaN,False,"{""adult standards"",""deep adult standards"",""bri..."
3,Kansas City,wilbert harrison,1959,472568.0,wilbert harrison,US,he/him,NaN,False,"{""rhythm and blues"",R&B/Soul,Rock,R&B/Soul,roc..."
4,Lonely Boy,paul anka,1959,210106.0,paul anka,US,he/him,NaN,False,"{""canadian pop"",""brill building pop"",""adult st..."
...,...,...,...,...,...,...,...,...,...,...
30012,"Colombia, Mi Encanto",carlos vives,2022,1334.0,carlos vives,CO,he/him,male,False,"{""colombian pop"",Latin,Latino,""Pop Latino"",cha..."
30013,Down Home,jimmie allen,2022,620277.0,jimmie allen,US,he/him,NaN,False,"{Country,Country,""black americana"",""black amer..."
30014,Euthanasia,post malone,2022,135326.0,post malone,US,he/him,male,False,"{""dfw rap"",insights_high_priority_artists,""mel..."
30015,Praise The Lord,breland featuring thomas rhett,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30016,Sin Fin,romeo santos & justin timberlake,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.to_csv('artist_gender_joined.csv')

In [3]:
lyrics = pd.read_csv('song_lyrics_missing_scraped_iter2.csv')

In [4]:
print(lyrics['Lyrics'].isna().sum())

3433

In [6]:
lyrics['Lyrics'].tail()

30016    Colombia  Mi Encanto Lyrics[Letra de  Colombia...
30017    ​down home Lyrics[Verse 1] I bet you're up the...
30018    Euthanasia Lyrics[Verse 1] Took a fuckin' sip ...
30019                                                  NaN
30020                                                  NaN
Name: Lyrics, dtype: object